--capture-dev=7
--playback-dev=8
--video
--vcapture-dev=1
--auto-update-nat 0
--disable-stun
--dis-codec all
--add-codec pcmu
--add-codec pcma
--add-codec speex
--add-codec G722
--add-codec opus
--no-vad
--ec-tail 0
--quality 10
--max-calls=1
--auto-keyframe=30
--use-cli
--no-cli-console
--no-color
--no-stderr
--log-file=/config/logs/pjsua.log
--log-level=5
--app-log-level=5
