{{ $DISABLE_SIP_UDP := .Env.DISABLE_SIP_UDP | default "false" | toBool -}}
{{ $DISABLE_SIP_TCP := .Env.DISABLE_SIP_TCP | default "false" | toBool -}}
--capture-dev=7
--playback-dev=8
--video
--vcapture-dev=1
--no-color
--log-level=5
--app-log-level=5
--auto-update-nat 0
--disable-stun
--dis-codec GSM
--dis-codec H263
--dis-codec iLBC
--dis-codec G722
--dis-codec speex
--dis-codec pcmu
--dis-codec pcma
--dis-codec opus
--add-codec pcmu
--add-codec pcma
--add-codec speex
--add-codec G722
--add-codec opus
--no-vad
--ec-tail 0
--quality 10
--max-calls=1
--auto-keyframe=30
--no-stderr
--log-file=/config/logs/pjsua.log
{{ if $DISABLE_SIP_UDP -}}
--no-udp
{{ end -}}
{{ if $DISABLE_SIP_TCP -}}
--no-tcp
{{ end -}}
{{ if .Env.SIP_ID -}}
--id "{{ .Env.SIP_ID }}"
{{ end -}}
{{ if .Env.SIP_CONTACT -}}
--contact {{ .Env.SIP_CONTACT }}
{{ end -}}
{{ if .Env.SIP_REGISTRAR -}}
--registrar {{ .Env.SIP_REGISTRAR }}
{{ end -}}
{{ if .Env.SIP_REALM -}}
--realm={{ .Env.SIP_REALM }}
{{ end -}}
{{ if .Env.SIP_USERNAME -}}
--username={{ .Env.SIP_USERNAME }}
{{ end -}}
{{ if .Env.SIP_PASSWORD -}}
--password={{ .Env.SIP_PASSWORD }}
{{ end -}}
{{ if .Env.PJSUA_IP_ADDR -}}
--ip-addr={{ .Env.PJSUA_IP_ADDR }}
{{ end -}}
{{ if .Env.PJSUA_LOCAL_PORT -}}
--local-port={{ .Env.PJSUA_LOCAL_PORT }}
{{ end -}}
{{ if .Env.PJSUA_RTP_PORT -}}
--rtp-port={{ .Env.PJSUA_RTP_PORT }}
{{ end -}}
